
<h3>Angular lifecycle hooks - методы жизненного цикла компонента</h3>
<p>Компонент это маленькая подпрограмма, которая может быть использована другим компонентом или использовать другие компоненты.</p>

<dl>
    <dt>Angular lifecycle hooks</dt>
    <dd>
        Это набор методов компонента, который будет вызван всязкий раз, когда компонент проходит определенный этап
        своей жизни. Таких методов у компонента 8 и они редко нужны все сразу. Angular предлагает великолепный подход
        - для каждого метода жизненного цикла есть свой интерфейс и все, что требуется от разработчика - это
        имплементировать тот интерфейс, который необходим для конкретной здачи.
    </dd>
</dl>

<p>Каждый компонент переживает этапы жизненного цикла:</p>
<ol>
    <li>ngOnChanges</li>
    <li>ngOnInit</li>
    <li>ngDoCheck</li>
    <li>ngAfterContentInit</li>
    <li>ngAfterContentChecked</li>
    <li>ngAfterViewInit</li>
    <li>ngAfterViewChecked</li>
    <li>ngOnDestroy</li>
</ol>

<dl>
    <dt>constructor</dt>
    <dd>
        Метод жизненного цикла объекта.
        Он не имеет отношения к angular, но angular его активно использует для своих
        задач.
        Тот метод, который вызвается при создании любого объекта.
         Происходит создание компонентов.
    </dd>
</dl>

<dl>
    <dt>ngOnChanges</dt>
    <dd>
        Вызывается всякий раз, когда приходят новые проперти и будет передан какой-то объект.
        Метод жизненного цикла, который обрабатывает bindings, тоесть то, что нам передано в квадратных скобках [].
        Если по какой-то причине не передан ни один @Input(), если объявлен ни один @Input(), то вызывать этот метод
        бессмыленно. Он не будет вызван ни разу.
        Задача ngOnChanges обеспечить привязку значения, которое передано от Parent к Child.
    </dd>
</dl>

<dl>
    <dt>ngOnInit</dt>
    <dd>Вызывается в момент инициализации компонета.</dd>
    <dd>Позволяет нам взаимодействовать с инпутами и подготовить наш компоент к дальнейшей отрисовки.</dd>
</dl>

<dl>
    <dt>ngDoCheck</dt>
    <dd>
        Это такой метод жизненного цикла, который позволяет добавить логику проверки состояния нашего компонента,
        запустить дополнительные перересовки, либо каким-то образом обработать Inputs и прочее.
    </dd>
</dl>

<dl>
    <dt>ngAfterContentInit</dt>
    <dd>
        Момент инициализации контента, который был передан от родителя ребенку.
        Когда у нас есть какая-то верстка, которая приходит от родителя.
        Место, когда мы понимает, что у нас уже пришли результаты от родителя и мы можем делать с ними какие-то
        манипуляции.
    </dd>
</dl>

<dl>
    <dt>ngAfterContentChecked</dt>
    <dd>
        Поспольку компонент живет гораздо дольше, чем момент инициализации, то данный метод будет запускаться каждый
        раз при минимальных изменениях контента.
        В этом методе, можно производить дополнительную проверку, что контент поменялся, или не поменялся, запускать
        свои обновления значений, и т. д.
    </dd>
</dl>

<dl>
    <dt>ngAfterViewInit</dt>
    <dd>
        Контент может приходит к нам не только сверху, но и мы можем сами рисовать сами некий контент в компоненте.
        Например, наш Parent рисует Child компонент. Child компонент относиться к view нашего parent компонента. Вот
        в этом месте мы уже можем получить доступ к Child компоненту
    </dd>
</dl>

<dl>
    <dt>ngAfterViewChecked</dt>
    <dd>
        Можем уже манипулировать с нашими дочерними компонентами. В этот момент они однозначно уже перерисовались и
        можно при надобности внести дополнительные правки в них и запустить перерисовку снова.
    </dd>
</dl>

<dl>
    <dt>ngOnDestroy</dt>
    <dd>
        Метод, который вызывается в момент удаления компонента.
    </dd>
</dl>
<hr>

<button
        class="btn btn-dark"
        style="margin-right: 10px"
        (click)="show = !show">
    Toggle
</button>

<button
        class="btn btn-info"
        (click)="title = title + '--1'">
    Modify input
</button>

<app-parent-hook *ngIf="show" [titleParentHook]="title"></app-parent-hook>
