
<h3>Angular lifecycle hooks - методы жизненного цикла компонента</h3>


<button
        class="btn btn-dark"
        (click)="show = !show">
    Toggle
</button>

<button
        class="btn btn-info"
        style="margin: 0 10px"
        (click)="title = title + '--1'">
    Modify input
</button>

<button
        class="btn btn-danger"
        (click)="modifyArray()">
    Modify array
</button>


<!--<button class="btn btn-info">info</button>-->
<!--<button class="btn btn-danger">danger</button>-->
<!--<button class="btn btn-light">light</button>-->
<!--<button class="btn btn-link">link</button>-->
<!--<button class="btn btn-group">group</button>-->
<!--<button class="btn btn-lg">lg</button>-->
<!--<button class="btn btn-sm">sm</button>-->


<app-parent-hook *ngIf="show" [title]="title" [array]="array">

<!--    OPTION I-->
<!--    <h3 #ref>test header I</h3>-->
<!--    <app-child-hook #ref [title]="title"></app-child-hook>-->
<!--    <app-child-hook #ref [title]="title"></app-child-hook>-->
<!--    <app-child-hook #ref [title]="title"></app-child-hook>-->
<!--    <h3 #ref>test header II</h3>-->
<!--    <p #ref>test text</p>-->

    <!--    OPTION II-->
    <p #foo>Skip</p>
    <ng-template #bar let-item><p>1. {{item}}</p></ng-template>
    <ng-template #bar let-item><p><b>2. {{item}}</b></p></ng-template>
    <ng-template #baz let-item><p><i>3. {{item}}</i></p></ng-template>

</app-parent-hook>

<hr>

<p>Компонент это маленькая подпрограмма, которая может быть использована другим компонентом или использовать другие компоненты.</p>

<dl>
    <dt>Angular lifecycle hooks</dt>
    <dd>
        Это набор методов компонента, который будет вызван всязкий раз, когда компонент проходит определенный этап
        своей жизни. Таких методов у компонента 8 и они редко нужны все сразу. Angular предлагает великолепный подход
        - для каждого метода жизненного цикла есть свой интерфейс и все, что требуется от разработчика - это
        имплементировать тот интерфейс, который необходим для конкретной здачи.
    </dd>
</dl>

<p>Каждый компонент переживает этапы жизненного цикла:</p>
<ol>
    <li>ngOnChanges</li>
    <li>ngOnInit</li>
    <li>ngDoCheck</li>
    <li>ngAfterContentInit</li>
    <li>ngAfterContentChecked</li>
    <li>ngAfterViewInit</li>
    <li>ngAfterViewChecked</li>
    <li>ngOnDestroy</li>
</ol>

<dl>
    <dt>constructor</dt>
    <dd>
        Метод жизненного цикла объекта.
        Он не имеет отношения к angular, но angular активно использует его для своих задач.
        Тот метод, который вызвается при создании любого объекта.
        Происходит создание компонентов.
    </dd>
    <dd>
        Конструктор используется для внедрения зависимостей и рекомендуется держать его, как можно проще, чтоб
        процесс создания объектов был быстрым. Ведь не все созданные объекты будут использованы.
    </dd>
    <dd>
        Конструктор вызывается в 1-ю очередь.
    </dd>
    <dd>
        Перед ngOnInit вызывается ngOnChanges, который работает после установки всех @Input(), а это значит, что в
        ngOnInit доступны @Input(), а в конструкторе еще не доступны.
    </dd>

</dl>

<dl>
    <dt>ngOnChanges</dt>
    <dd>
        Вызывается всякий раз, когда приходят новые проперти и будет передан какой-то объект.
        Метод жизненного цикла, который обрабатывает bindings, тоесть то, что нам передано в квадратных скобках [].
        Если по какой-то причине не передан ни один @Input(), если не объявлен ни один @Input(), то вызывать этот метод
        бессмыленно. Он ни разу не будет вызван.
        Задача ngOnChanges обеспечить привязку значения, которое передано от Parent к Child.
    </dd>
</dl>

<dl>
    <dt>ngOnInit</dt>
    <dd>Вызывается в момент инициализации компонета.</dd>
    <dd>Позволяет нам взаимодействовать с @Input() и подготовить наш компонент к дальнейшей отрисовки.</dd>
    <dd>Почему нужно пользоваться ngOnInit? Потому-что в ngOnInit нам доступны значения после bindings, а в
        конструкторе - значения до bindings, что во многих случаях является критическим.</dd>
</dl>

<dl>
    <dt>ngDoCheck</dt>
    <dd>
        Метод жизненного цикла, который позволяет добавить логику проверки состояния нашего компонента,
        запустить дополнительные перересовки, либо каким-то образом обработать Inputs и прочее.
    </dd>
</dl>

<dl>
    <dt>ngAfterContentInit</dt>
    <dd>
        Момент инициализации контента, который был передан от Parent к Child.
        Когда у нас есть какая-то верстка, которая приходит от Parent.
        Место, когда мы понимаем, что у нас уже пришли результаты от родителя и мы можем делать с ними какие-то
        манипуляции.
    </dd>
</dl>

<dl>
    <dt>ngAfterContentChecked</dt>
    <dd>
        Поспольку компонент живет гораздо дольше, чем момент инициализации, то данный метод будет запускаться каждый
        раз при минимальных изменениях контента.
        В этом методе, можно производить дополнительную проверку, что контент поменялся, или не поменялся, запускать
        свои обновления значений, и т. д.
    </dd>
</dl>

<dl>
    <dt>ngAfterViewInit</dt>
    <dd>
        Контент может приходит к нам не только сверху, но и мы сами можем  рисовать некий контент в компоненте.
        Например, наш Parent рисует Child компонент. Child компонент относиться к view нашего parent компонента. Вот
        в этом месте мы уже можем получить доступ к Child компоненту.
    </dd>
</dl>

<dl>
    <dt>ngAfterViewChecked</dt>
    <dd>
        Можем уже манипулировать с нашими дочерними компонентами. В этот момент они однозначно уже перерисовались и
        можно при надобности внести дополнительные правки в них и запустить перерисовку снова.
    </dd>
</dl>

<dl>
    <dt>ngOnDestroy</dt>
    <dd>
        Метод, который вызывается в момент удаления компонента.
    </dd>
    <dd>
        Всякий раз, перед тем, как удалить компонент из верстки, angular вызывает метод ngOnDestroy.
        Благодаря такому методу, мы можем очистить все созданные подписки и не дать нашему компоненту замусорить
        браузер.
    </dd>
    <dd>
        Задача отписки имеет множество решений:
        subscription.unsubscribe - описка от 1 подписки
        subscriptions.unsubscribe - отписка от массива подписок,
        отписка через takeUntil - завершает стрим, а не отписывается от него. Цель убить подписку достигнута или
        через отписку или через завершение стрима.
    </dd>
</dl>
<hr>
