<div class="container">

    <mat-toolbar color="primary" *ngIf="canEdit">
        <mat-toolbar-row>
            <span class="example-spacer"></span>
            <button
                    class="button"
                    mat-flat-button
                    color="basic"
                    (click)="openDialog()">
                Add Product
            </button>
        </mat-toolbar-row>
    </mat-toolbar>


    <mat-card class="example-card custom-card" *ngFor="let product of products" style="margin-bottom: 5px;">
        <mat-card-title>{{product.title}}</mat-card-title>
        <img class="image" mat-card-image src="{{product.image}}">
        <mat-card-content>
            <p>Price: {{product.price | currency: "EUR"}}</p>
            <p>Year: {{product.year}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button
                    class="button"
                    type="button"
                    mat-flat-button color="primary"
                    (click)="addToBasket(product)">
                В корзину
            </button>
            <button
                    class="button"
                    mat-flat-button color="primary"
                    [routerLink]="['/product', product.id]">
                Подробнее
            </button>
            <button class="button" mat-flat-button color="primary" [matMenuTriggerFor]="menu">Edit</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(product)">Edit</button>
                <button mat-menu-item (click)="deleteItem(product.id)">Del</button>
            </mat-menu>
        </mat-card-actions>

    </mat-card>

</div>
