
<div class="container">

    <h1 class="head">Angular topic</h1>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 1 </b> &#9733;</span>
                <span> Material Dialog </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-parent-dialog></app-parent-dialog>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 1 </b> &#9733;</span>
                <span> -- Interpolation, binding, two way binding and NgModel -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-binding></app-binding>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 2 </b> &#9733;</span>
                <span> -- Structural directives: *ngIf, *ngFor, *ngSwitchCase, Class, Style, Attr -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-directives></app-directives>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 3 </b> &#9733;</span>
                <span> -- Input Output -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-parent></app-parent>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 4 </b> &#9733;</span>
                <span> -- ng-template, ng-content, ng-container, *ngTemplateOutlet, context -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-parent-unit></app-parent-unit>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 5 </b> &#9733;</span>
                <span> -- HostBinding & HostListener -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-host></app-host>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 6 </b> &#9733;</span>
                <span> -- Lifecycle hooks -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-lifecycle-hooks></app-lifecycle-hooks>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>



    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 4 </b> &#9733;</span>
                <span> Получение @ContentChildren/@ViewChildren с помощью сервиса </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-animals>
                        <app-cat appLink></app-cat>
                        <app-dog appLink></app-dog>
                        <app-rock></app-rock>
                        <app-fox appLink></app-fox>
                        <p>just an element</p>
                    </app-animals>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 5 </b> &#9733;</span>
                <span> Опция директивы exportAs для экспорта контроллера </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-colory></app-colory>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 6 </b> &#9733;</span>
                <span> Использование декоратора @Attribute </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-parent-greetings></app-parent-greetings>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 7 </b> &#9733;</span>
                <span> Передача нескольких параметров в структурную директиву </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-delay></app-delay>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 8 </b> &#9733;</span>
                <span> Передача нескольких параметров в структурную директиву </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-delay></app-delay>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 9 </b> &#9733;</span>
                <span> How work Angular Elements </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-hello name="John">
                        <h2>SOMETHING!</h2>
                    </app-hello>

                    <app-hello name="Alice"></app-hello>
                    <app-hello name="Nick"></app-hello>
                    <app-hello name="Bill"></app-hello>

                    <script>
                        const el = document.querySelector('app-hello');
                        el.setAttribute('name', 'Elon');
                        el.addEventListener('clicked', event => console.log(event.detail));
                        el.innerHTML = '<h2>NOTHING!</h2>';
                    </script>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 11 </b> &#9733;</span>
                <span> Mat Dialog </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-first-dialog></app-first-dialog>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 12 </b> &#9733;</span>
                <span> Interaction </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-interaction></app-interaction>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>


    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Angular 11 </b> &#9733;</span>
                <span> SOME TITLE </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    SOME COMPONENT
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>



<!--    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">-->
<!--        <ngb-panel>-->
<!--            <ng-template ngbPanelTitle>-->
<!--                <span>&#9733; <b>Fancy</b> title &#9733;</span>-->
<!--            </ng-template>-->
<!--            <ng-template ngbPanelContent>-->
<!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
<!--                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf-->
<!--                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim-->
<!--                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher-->
<!--                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't-->
<!--                heard of them accusamus labore sustainable VHS.-->
<!--            </ng-template>-->
<!--        </ngb-panel>-->

<!--        <ngb-panel title="Simple">-->
<!--            <ng-template ngbPanelContent>-->
<!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
<!--                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf-->
<!--                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim-->
<!--                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher-->
<!--                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't-->
<!--                heard of them accusamus labore sustainable VHS.-->
<!--            </ng-template>-->
<!--        </ngb-panel>-->

<!--        <ngb-panel title="Disabled" [disabled]="false">-->
<!--            <ng-template ngbPanelContent>-->
<!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
<!--                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf-->
<!--                moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim-->
<!--                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher-->
<!--                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't-->
<!--                heard of them accusamus labore sustainable VHS.-->
<!--            </ng-template>-->
<!--        </ngb-panel>-->
<!--    </ngb-accordion>-->

</div>



<div class="container">
    <h1 class="head">RxJS topic</h1>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> RxJS 1 </b> &#9733;</span>
                <span> -- RxJS operators in action -- </span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="container">
                    <app-rxjs-base></app-rxjs-base>
                </div>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>






