$ cat .gitignore
# Dependencies
node_modules
dist
.cache

# Output
dist
.cache

# IDE - IntelliJ Idea
idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Исключить файл TODO в корневом каталоге, но не файл в subdir/TODO
/TODO

# Игнорировать все файлы в каталоге build/
build/
.idea/
.cache/
dist/
node_modules/
