<div class="structure" id="small-chart">
  <div class="row-flex">
    <h1 class="charts-h1">Top 5 Machines by Utilization</h1>
    <img src="../../../../assets/images/icons8-exclamation-mark-64.png" alt="" />
  </div>

  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="verticalBarChartTopData"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [yScaleMax]="yScaleMax"
    [barPadding]="barPadding"
    [showGridLines]="showGridLines"
    [roundEdges]="roundEdges"
    [yAxisTicks]="yAxisTicks"
    [yAxisTickFormatting]="yAxisTickFormatting"
  ></ngx-charts-bar-vertical>
</div>
