<p>parent-hook finally works! {{_titleParentHook}}</p>

<ng-content select="app-child-hook"></ng-content>

<ng-container *ngFor="let template of templates">
    <ng-container *ngTemplateOutlet="template; context: { $implicit: 'Template value'}"></ng-container>
</ng-container>

<app-child-hook [titleChildHook]="_titleParentHook"></app-child-hook>


<div class="container">
    <span *ngFor="let i of array"> | {{i}} | </span>
</div>

<div #jqueryNeverDie></div>
<ng-template #jqueryNeverDie></ng-template>





